<!doctype html>
<html lang="en">
<head>
	<title>{{ htmlWebpackPlugin.options.title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Ivan Zapico">
    <meta name="generator" content="Webpack v4.23.1">
    <meta name="keywords" content="design, css, web, html" />
    <meta name="description" content="Staticpack, the starter project in Webpack for static pages">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
</head>
<body class="{{ className }}" {{{ scrollSpy }}}>
    {{#> sp-nav-bar projectName="APP"
                    lastUpdate="02/11/2019"}}
        {{#each pages}}
            <li class="nav-item">
                <a class="nav-link" href="/{{ name }}/">{{ name }}</a>
            </li>
        {{/each}}
    {{/sp-nav-bar}}
    {{> @partial-block }}
</body>
</html>
